main {
    height: 100vh !important;
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 100%;
}

#short-bar {
    display: -ms-grid;
    display: grid;
    place-items: center;
    gap: 15px;
    width: 100%;
}

#message-short {
    display: none;
}

.url-field {
    width: 80% !important;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(100% - 60px) 60px;
    grid-template-columns: calc(100% - 60px) 60px;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
}

.url-field input{
    border: none;
    width: 100%;
    padding: 8px 5px;
    border-radius: 8px;
}

#short-field input{
    width: 99%;
    margin: auto;
}

.url-field input:enabled{
    border: none;
}

#paste-btn{
    display: none;
    background: white;
    border: none;
    border-radius: 50px;
}

#paste-icon {
    background: white;
    border: none;
    width: 50%;
}

#short-btn {
    display: none;
    background: #000;
    padding: 15px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
}

#short-field {
    display: none;
}

#slogan {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    width: 80%;
}

#logo {
    -o-object-fit: contain;
    object-fit: contain;
}