<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="content">
        <p>Add a new url:</p>
        
        <form action="{% url 'encurtador:new_link' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Shorten</button>
        </form>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>