@font-face {
  font-family: Geomanist;
  src: url(./assets/fonts/geomanist.otf);
}

body {
  background: #fffafa;
  margin: 0;
  font-family: Geomanist;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  background: white;
  padding: 80px 0;
  border-radius: 8px;
  margin: auto;
  width: 100%;
}

.side{
  text-align: center;
  width: 44%;
  display: grid;
  place-items: center;
  gap: 2em;
  z-index: 2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 1000px) {
  .side{
      width: 80% !important;
  }
}
